.sidecontainer {
  position: fixed;
  z-index: 999;
  width: 350px;
  height: 100%;
  background: #ffc500;
  display: grid;
  align-items: center;
  top: 0;
  transition: 0.3s ease-in-out;
  right: -100%;
}

.sidecontainer.active {
  right: 0;
}
.closeicon {
  color: #000;
}

.icon {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  background: transparent;
  border: transparent;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
}

.sidebarmenu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 80px);
  text-align: center;
}
.sidelink {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration: none;
  list-style: none;
  transition: 0.2s ease-in-out;
  color: #000;
  cursor: pointer;
}

.sidelink:hover {
  color: #e31837;
  transition: 0.2s ease-in-out;
}
.sidebtnwrap {
  display: flex;
  justify-content: center;
}
.sidebtn {
  background: #e31837;
  color: #fff;
  white-space: nowrap;
  padding: 16px 64px;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}
.sidebtn:hover {
  transition: 0.2s ease-in-out;
  background: #fff;
  color: #010606;
}

@media screen and (max-width: 960px) {
  .sidecontainer {
    width: 100%;
  }
  .sidebarmenu {
    grid-template-rows: repeat(3, 60px);
  }
}
